clips/*.mov filter=lfs diff=lfs merge=lfs -text
pawdoe/raw_clips/*.mov filter=lfs diff=lfs merge=lfs -text
pawdoe/raw_clips/*.MOV filter=lfs diff=lfs merge=lfs -text
pawdoe/output_variantes/*.mp4 filter=lfs diff=lfs merge=lfs -text
